@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.section{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
    position: relative;
}

header{
    position: relative;
    top: 0%;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    width: auto;
}

header .nav a{
    font-weight: 600;
}

header div{
    position: relative;
    display: flex;
}

header div a{
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    transition: 0.5s;
    transition-property: background;
    border-radius: 10cm;
}

header div a:hover{
    background: rgb(255, 183, 49);
    color: black;
}

div a:hover{
    color: rgb(255, 255, 116);
}

div a {
    transition: all 0.3s ease 0s;
}

.detel{
    margin-left: 8%;
    margin-top: 12.5%;
}

.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 15px;
}

.first{
    display: inline-block;
}

span{
    color: orange;
    
}

.detel h2{
    margin-bottom: 25px;
}

.anime{
    position: relative;
    color: black;
}

.rotating-words{
    display: inline;
    margin-left: 12px;
}

.rotating-words span{
    color: black;
    width: max-content;
    position: absolute;
    background-color: orange;
    padding-inline: 10px;
    border-radius: 9px;
    opacity: 0;
    transform-origin: 10% 75%;
    animation: rotateWords 10s
    var(--d) linear infinite;
}

@keyframes rotateWords{
    5%{
        opacity: 1;
    }
    10%,
    20%{
        opacity: 1;
        transform: rotate(3deg);
    }
    15%{
        transform: rotate(-1deg);
    }
    25%{
        opacity: 0;
        transform: translateY(90px);
        rotate: 10deg;
    }
}

.detel p{
    color: rgb(0, 0, 0);
    line-height: 22px;
    font-weight: 600;
    max-width: 450px;
}

.detel a 
{
	display: inline-block;
	margin-top: 25px;
	padding: 10px 15px;
	background: black;
	color: #fff;
	border-radius: 40px;
	font-weight: 700;
	letter-spacing: 1px;
	text-decoration: none;
}

.detel a:hover{
	color: orange;
}

.images{
    width: 40%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 70px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 40px;
}

.images:hover .tobi{
    left: 45%;
}

.social{
    margin-left: 8%;
    margin-top: 65px;
}

.social a{
    font-size: 30px;
    color: #212121;
    margin-right: 20px;
}

.social a:hover{
    color: orange;
}

.social{
    display: inline-block;
    font-size: 44px;
    animation: float 3s ease-in-out infinite;
}

.fa-brands fa-facebook{
    animation-delay: 1s;
}

.fa-brands fa-github{
    animation-delay: 2s;
}

@keyframes float{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
}

@media (max-width: 1010px){
    header .nav{
        display: none;
    }
    header{
        padding: 5px 20px;
    }
    header .logo{
        max-width: 90px;
    }
}